[Desktop Entry]
Name=Acerca de Huayra
Comment=Averigua la versión de Huayra
Exec=huayra-about --gui
Icon=huayra-about
Terminal=false
Type=Application
Categories=GTK;Core;System;Huayra;
StartupNotify=false
