[Desktop Entry]
Name=Acerca de Huayra
Comment=Averigua la versión de Huayra
Exec=huayra-about --gui
Icon=chat-huayra
Terminal=false
Type=Application
Categories=GTK;Core;Utility;
StartupNotify=false
