Source: huayra-about
Maintainer: Ignacio Juan Martín Benedetti <tranceway@gmail.com>
Section: python
Priority: optional
Build-Depends: python (>= 2.6.6-3), debhelper (>= 9.0)
X-Python-Version: >=2.7
Standards-Version: 3.9.4
Vcs-Git: https://github.com/bolichep/huayra-about

Package: huayra-about
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Acerca de Huayra
 Lista información referida a las versiones de la instalación de
 Huayra, Debian y el Kernel. Esta información se presenta en una ventana y/o
 en la consola.

